@page "/game"
@inject GameService GameService;

<PageTitle>Dice Gladiator</PageTitle>

<EnemyDisplay @ref="EnemyDisplay" />

<EndRound @ref="EndRoundModal" NextRound="NextRound" />

<button class="btn btn-primary" @onclick="() => EndRoundModal?.Open()">FIGHT</button>

<Leaderboard @ref="Leaderboard" />

@code {
	private EnemyDisplay? EnemyDisplay { get; set; }
	private EndRound? EndRoundModal { get; set; }
	private Leaderboard? Leaderboard { get; set; }

	private void NextRound()
	{
		EnemyDisplay?.Refresh();
		Leaderboard?.Refresh();
		StateHasChanged();
	}
}
