@page "/"
@using System.Text.Json;
@inject GameService GameService;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager;
@inject ILogger<Game> logger;

<PageTitle>Dice Gladiator</PageTitle>

<CascadingValue Value="GameService">
<EnemyDisplay @ref="EnemyDisplay" />

<EndRound @ref="EndRoundModal" NextRound="Refresh" />

<button class="btn btn-primary" @onclick="() => EndRoundModal?.Open()">FIGHT</button>

<Leaderboard @ref="Leaderboard" />
</CascadingValue>

@code {
	private EnemyDisplay? EnemyDisplay { get; set; }
	private EndRound? EndRoundModal { get; set; }
	private Leaderboard? Leaderboard { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if (GameService.Players.Any())
			return;

		var gameSession = await localStorage.GetItemAsync<GameService>("gameSession");

		if (gameSession != null)
		{
			GameService.ResumePreviousGame(gameSession);

			logger.LogInformation("GameSession: {gamesession}", JsonSerializer.Serialize(gameSession));
			logger.LogInformation("GameService: {GameService}", JsonSerializer.Serialize(GameService));
		}
		else
		{
			NavigationManager.NavigateTo("new-game");
		}
	}

	private void Refresh()
	{
		//Trigger Direct State Change
	}
}
