@page "/game"
@inject GameService GameService;

<PageTitle>Dice Gladiator</PageTitle>

<EnemyDisplay />

<EndRound @ref="EndRoundModel" />

<button class="btn btn-primary" @onclick="() => EndRoundModel?.Open()">FIGHT</button>

<h3>Leaderboard:</h3>
@foreach (var player in GameService.Players)
{
	<p>
        <strong>@player.Name:</strong> @player.Score
	</p>
}

@code {
	private EndRound? EndRoundModel { get; set; }
}
