@page "/"
@inject GameService GameService;
@inject NavigationManager NavigationManager

<PageTitle>Welcome</PageTitle>

<h1>Welcome gladaitors!</h1>

<p>
	*Insert rules*
</p>

@foreach (var player in newPlayers)
{
	<p>
		Player name: <input @bind="player.Name" />
		<button class="btn btn-danger" @onclick="() => RemovePlayer(player)">🗑️</button>
	</p>
}
<button class="btn btn-success" @onclick="AddPlayer">➕</button>

<p>
	Let the battle...
	<button class="btn btn-primary" @onclick="NewGame">Begin</button>
</p>

@code {

	private List<Player> newPlayers = new List<Player>
	{
		new Player()
	};

	private void AddPlayer() => newPlayers.Add(new Player());
	private void RemovePlayer(Player player) => newPlayers.Remove(player);

	private void UpdatePlayerList(Player player)
	{
		if (string.IsNullOrEmpty(player.Name))
		{
			newPlayers.Remove(player);
		}
		else
		{
			newPlayers.Add(new Player());
		}
	}

	private void NewGame()
	{
		GameService.Start(newPlayers.Where(p => !string.IsNullOrEmpty(p.Name)).ToList(), 1000);

		NavigationManager.NavigateTo("game");
	}

}