@page "/new-game"
@inject GameService GameService;
@inject NavigationManager NavigationManager;
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Welcome</PageTitle>

<h1>Welcome gladaitors!</h1>

<p>
	*Insert rules*
</p>

<PlayerManagement @ref="NewPlayers" />

<p>
	Let the battle...
	<button class="btn btn-primary" @onclick="StartGame">Begin</button>
</p>

@code {

	private PlayerManagement NewPlayers = new();

	private async Task StartGame()
	{
		GameService.Start(NewPlayers.Players.Where(p => !string.IsNullOrEmpty(p.Name)).ToList(), 1000);
		await localStorage.SetItemAsync("gameSession", GameService);

		NavigationManager.NavigateTo("/");
	}
}