@page "/score"
@inject GameService GameService;
@inject NavigationManager NavigationManager;

<Leaderboard />

<button class="btn btn-primary" @onclick="NextFight">RESTART</button>
<button class="btn btn-primary" @onclick="NextFight">NEW GAME</button>

@code {
private void NextFight()
{
	NavigationManager.NavigateTo("game");
}
}
